*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    width: 1000px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid black;
    /*make parent grid container*/
    display: grid;
    /*define grid template*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}
.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: flex-end;
}
.child1 > div{
    margin-left: 50px;
    img{
        height: 90%;
        padding-top: 33px;
        padding-right: 15px;
    }
    
}

.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: rgb(211, 214, 211);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(229, 87, 21);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    img{
        width: 100px;
        height: 100px;
        margin: 25px auto 0 auto ;
        align-items: center;
    }
}
.child4{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: white;
    display: flex;
    justify-content: center;
   

    .left{
        margin-top: 30px;
       width: 50%;
       text-align: center;
       padding: 0 30px 0 30px;
       img{
        width: 100px;
        height: 130px;
        align-items: center;
        box-shadow: black 0px 0px 5px;
        justify-content: flex-end;
        align-items: flex-end;
       }
    }
    .right{
        width: 50%;
        margin: 70px auto 0 auto ;
    }
}
.child5{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: rgb(152, 100, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    img{
        width: 138%;
        height: 200px;
        align-items: center;
        
        border-radius: 50%;
    };
    button{
        padding: 10px 20px;
        background-color: yellow;
        color: black;
        border: none;
        border-radius: 25px;
    }
}

.child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.child7{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: rgb(146, 180, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 70%;
        height: 90%;
        margin: 25px auto 0 auto ;
        align-items: center;
    }
}
@media screen and (max-width: 600px) {
    .parent {
        grid-template-columns: 1fr;
    }

    .child1, .child2, .child3, .child4, .child5 {
        grid-column: auto;
        grid-row: auto;
    }
}