* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #ecf2f8; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.parent {
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 24px;
}

.parent > div {
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.parent > div h3 {
    font-size: 13px;
    font-weight: 600;
}

.parent > div p {
    font-size: 13px;
    font-weight: 500;
    opacity: 0.7;
}

.parent > div h2 {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 16px;
    font-weight: 600;
    z-index: 10;
}

.parent > div > p {
    font-size: 13px;
    line-height: 1.5;
    opacity: 0.7;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.header .user-info {
    display: flex;
    flex-direction: column;
}

.child1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #733fc8;
    color: white;
    position: relative;
    overflow: hidden;
}

.child1 .quote-bg {
    position: absolute;
    top: 0;
    right: 80px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
    z-index: 1;
    filter: invert(100%); 
}

.child2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: #48556a;
    color: white;
}

.child3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: white;
    color: #48556a;
}

.child3 .header .avatar {
    border-color: transparent;
}

.child3 h2 {
    color: #48556a;
}

.child3 > p {
    opacity: 0.7;
    color: #48556a;
}

.child4 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: #19202d;
    color: white;
}

.child4 .header .avatar {
    border-color: #733fc8;
}

.child5 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: white;
    color: #48556a;
}

.child5 .header .avatar {
    border-color: transparent;
}

.child5 h2 {
    color: #48556a;
}

.child5 > p {
    opacity: 0.7;
    color: #48556a;
}
@media (max-width: 900px) {
    .parent {
        grid-template-columns: 1fr 1fr;
    }

    .child1 {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .child2 {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .child3 {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .child4 {
        grid-column: 1 / 3;
        grid-row: 3;
    }

    .child5 {
        grid-column: 1 / 3;
        grid-row: 4;
    }
}

@media screen and (max-width: 600px) {
    .parent {
        grid-template-columns: 1fr;
    }

    .child1, .child2, .child3, .child4, .child5 {
        grid-column: auto;
        grid-row: auto;
    }
}
